<form method="POST">
  {% csrf_token %}

  <h3>Stationery</h3>
  <select name="product">
    <option value="10">Pen</option>
    <option value="50">Notebook</option>
    <option value="120">Stapler</option>
    <option value="30">Marker</option>
  </select>

  <input type="number" name="quantity">

  <h3>Printing</h3>
  <input type="number" name="pages">

  <select name="print_type">
    <option value="5">B/W</option>
    <option value="10">Color</option>
  </select>

  <input type="checkbox" name="urgent"> Urgent

  <button type="submit">Submit</button>
</form>